<% provide(:page_title, 'Tüm Yazılar') %>
<% provide(:blog_active, 'active') %>

<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2>Yakın Zamanda Gönderilenler</h2>
						</div>
					</div>
<%= render @posts %>

</div>