<% provide(:iletisim_active, 'active') %>
<div class="page-header">
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<ul class="page-header-breadcrumb">
								<li><%= link_to t('anasayfa') , root_path, class: "#{yield(:blog_active)}" %></li>
								<li><%= t('iletisim') %></li>
							</ul>
							<h1><%= t('iletisim') %></h1>
						</div>
					</div>
				</div>
			</div>
<p></p>
<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-6">
						<div class="section-row">
							<h3><%= t('iletisimBilgileri') %></h3>
							<ul class="list-style">
								<li><p><strong>Email:</strong> <a href="mailto:info@neslihankolukisa.com">info@neslihankolukisa.com</a></p></li>
								
							</ul>
						</div>
					</div>
		
				</div>
				<!-- /row -->
			</div>