<% provide(:page_title, 'Tüm Yazılar') %>
<% provide(:author, 'active') %>

<div class="row">
    <div>
    <%= link_to 'Yeni yazı', new_authors_post_path, class: 'btn btn-primary btn-lg' %>
    </div>  &nbsp;&nbsp; <%= link_to 'Yeni Kategori Ekle', new_kategori_path, class: 'btn btn-lg btn-primary' %>
    <table class="table table-striped" style="margin-top:10px">
        <tr>
            <td>Başlık</td>
            <td  colspan="4">Kategori</td>
        </tr>
        <%= render @posts %>
    </table>
</div>