<% provide(:page_title, 'Tüm Yazılar') %>
<% provide(:author, 'active') %>

<div class="row">
    <div>
    <%= link_to 'Yeni yazı', new_authors_post_path, class: 'btn btn-primary btn-lg' %>
    </div><br>
    <table class="table table-striped">
        <tr>
            <td colspan="5">Başlık</td>
        </tr>
        <%= render @posts %>
    </table>
</div>