<% provide(:page_title, @post.baslik) %>
<% provide(:author, 'active') %>



<div class="container">
    
	<div class="row">
	  
					<!-- Post content -->
					<div class="col-md-8">
	<p><p></p></p>				    
					      <div>
    <%= link_to 'Düzenle', edit_authors_post_path(@post), class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Sil', authors_post_path(@post), method: :delete, data:{confirm: 'Silmek istediğinize emin misiniz?'}, class: 'btn btn-sm btn-danger' %>
</div>
<br><p></p>
						<div class="section-row sticky-container">
							<div class="main-post">
								<h3>  <%= @post.baslik %></h3>
								<p> <%= @post.icerik.html_safe %></p>
							
						</div>

						<!-- ad -->
					
						<!-- ad -->
						
						<!-- author -->
					
						<!-- /author -->

						<!-- comments -->
						
						<!-- /comments -->

						<!-- reply -->
					
						<!-- /reply -->
					</div>
					<!-- /Post content -->

					<!-- aside -->
					
					<!-- /aside -->
				</div>

</div>
