    
<!-- post -->
					<div class="col-md-4">
						<div class="post">
							<a class="post-img" href="blog-post.html"><img src="https://colorlib.com/preview/theme/webmag/img/post-3.jpg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<%=link_to post.baslik, post, class:"post-category cat-1" %>
									<span class="post-date"><%= post.display_day_published %></span>
								</div>
								<h3 class="post-title"><%=link_to post.aciklama, post %></h3>
							</div>
						</div>
					</div>
					<!-- /post -->